<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412990874478-n6tq5v9ug95592ok94jvilpslbklv2ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412990874478-n6tq5v9ug95592ok94jvilpslbklv2ef</string>
	<key>API_KEY</key>
	<string>AIzaSyCWz-y2rnh63NNVOLzeWCeUw1_xBa_s6_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>412990874478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pweench</string>
	<key>PROJECT_ID</key>
	<string>pweench-ca5a3</string>
	<key>STORAGE_BUCKET</key>
	<string>pweench-ca5a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412990874478:ios:6fc6c29ea524a9527d577f</string>
</dict>
</plist>